/**************/
/*			*/
/* Tree style */
/*			*/
/**************/ 


.node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 2px;
 }
 
 .target circle {
   fill: #fff;
   stroke: red;
   stroke-width: 1px;
 }

 .node text { font: 0.6em sans-serif; }
 
 .labels { font: 0.6em sans-serif; fill: #666;}

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
   z-index: -1;
 }
 
 .container {
	margin: 0 auto;
	width: 90%;
}
 .svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}


.svg-content { 

	 display: inline-block;
	 position: absolute;
	 top: 0;
	 left: 0;
}




/**************/
/*			*/
/* Site Layout */
/*			*/
/**************/ 


.off-canvas-wrap, .inner-wrap {
    	min-height: 100%;
}

.off-canvas-wrap{  
	height: 100%;
	overflow-y: auto;
}

.topmenu {
	margin-bottom: 20px;
}

.centered {
	text-align: center;
}

.container > div {
	display: none;
}

.container > div.active {
	display: block;
}