<div class='columns medium-8 small-12'>
    <div class='svg-container' id='treecontainer'></div>
</div>
<div class='columns medium-4 small-12'>
    <div class='row'>
        <div class="panel">
            <h5>Algorithm used</h5>
            <select id='algo'>
                <option value="Dfs">DFS</option>
                <option value="Bfs">BFS</option>
                <option value="Ucs">Uniform cost</option>
                <option value="Lds">Limited depth</option>
                <option value="Ids">Iterative Deepening</option>
                <option value="Greedy">Greedy</option>
                <option value="AStar">AStar</option>
            </select>
        </div>
    </div>
    
    <div class='row'>
        <div class='panel'>
            <ul class="small-block-grid-3 centered">

                    <li><button id="step" value="steppa" ><img id="img_step" width='100%' src="images/step.png"> </button></li>
                    <li><button id="play" value="playya" ><img id="img_play" width='100%' src="images/play.png"></button></li>


                    <li><button id="stop" value="stoppa" ><img id="img_stop" width='100%' src="images/pause_h.png"></button></li>
                    <li><button id="restart" value="restarta" ><img id="img_restart" width='100%' src="images/restart.png"></button></li>


            </ul>
        </div>
    </div>
    <div class='row'>
        <div class='panel'>
            <h5>Output</h5>
            <div id='output'></div>
        </div>
    </div>

</div>