<h1>Presets</h1>


<ul class="small-block-grid-2 medium-block-grid-4">

	<li class='presetcontainer'><a id='preset1'><img src='img/preset1.png' width='300px' height='300px' /><p>Preset 1</p><p>(Small, unbalanced)</p></a></li>
	<li class='presetcontainer'><a id='preset2'><img src='img/preset2.png' width='300px' height='300px' /><p>Preset 2</p><p>(Two goals, slightly unbalanced)</p></a></li>
	<li class='presetcontainer'><a id='preset3'><img src='img/preset3.png' width='300px' height='300px' /><p>Preset 3</p><p>(Balanced, three levels)</p></a></li>
	<li class='presetcontainer'><a id='preset4'><img src='img/preset4.png' width='300px' height='300px' /><p>Preset 4</p><p>(Failing preset)</p></a></li>
	
</ul>
