<h1>Random Tree Generator</h1>

<div class='row'>
	<form id='randomtreeform'>
	
		<h5>Configure</h5>
		<hr>
		<div class='row'>
			<div class="small-6 medium-3 columns">
				<label for="right-label" class="right inline">Branching factor</label>
			</div> 
			<div class="small-6 medium-2 columns end"> 
				<input type="text" id="right-label" placeholder="2-4" value='' id='randomTreeBranchingFactor' name='randomTreeBranchingFactor'>
			</div>
        </div>
        <div class="row">
            <div class="small-6 medium-3 columns">
                <label for="right-label" class="right inline">Maximum node count</label>
            </div>
            <div class="small-6 medium-2 columns end">
                <input type="text" id="right-label" placeholder="1-26" value='' id='randomTreeMaxNodes' name='randomTreeMaxNodes'>
            </div>
        </div>
        <div class="row">
            <div class="small-6 medium-3 columns">
                <label for="right-label" class="right inline">Maximum depth</label>
            </div>
            <div class="small-6 medium-2 columns end">
                <input type="text" id="right-label" placeholder="1-8" value='' id='randomTreeMaxDepth' name='randomTreeMaxDepth'>
            </div>
		</div>

		<input type='submit' value='generate' class='button' />
		
	</form>
</div>
