<h1>Random Tree Generator</h1>

<div class='row'>
	<form id='randomtreeform'>
	
		<h5>Configure</h5>
		<hr>
		<div class='row'>
			<div class="small-6 medium-3 columns">
				<label for="randomTreeBranchingFactor" class="right inline">Max branching factor</label>
			</div> 
			<div class="small-6 medium-2 columns end">
				<input type="text" value='' id='randomTreeBranchingFactor' name='randomTreeBranchingFactor'>
			</div>

        </div>
        <div class="row">
            <div class="small-6 medium-3 columns">
                <label for="randomTreeBranchingFactorFixed" class="right inline">Fixed</label>
            </div>
            <div class="small-6 medium-2 columns end">
                <input type="checkbox" id="randomTreeBranchingFactorFixed" name="randomTreeBranchingFactorFixed">
            </div>
        </div>

        <div class="row">
            <div class="small-6 medium-3 columns">
                <label for="randomTreeMaxDepth" class="right inline">Maximum depth</label>
            </div>
            <div class="small-6 medium-2 columns end">
                <input type="text" id='randomTreeMaxDepth' name='randomTreeMaxDepth'>
            </div>
		</div>
        <div class="row">
            <div class="small-6 medium-3 columns">
                <label for="randomTreeMaxDepthFixed" class="right inline">Fixed</label>
            </div>
            <div class="small-6 medium-2 columns end">
                <input type="checkbox" id="randomTreeMaxDepthFixed" name="randomTreeMaxDepthFixed">
            </div>
        </div>

		<input type='submit' value='generate' class='button' />
		
	</form>
</div>
